.bg__uppernav {
    background: linear-gradient(90deg, #062524 0%, #188b89 100%);
}
  
.main__header {
    background: #FFF;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
}

.nav__btn{
    border-radius: 6px;
    background: #FBCC21;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.phone__icon{
    border-radius: 6px;
    background: #880769;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

/* .hidden{
    display : none;
} */