.message {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

.unknown__style {
  width: 20px;
  height: 57px;
  border-radius: 5px;
  border: 1px solid #fff;
  background: #fff;
  box-shadow: 13px 0px 0px 1px #c477b1 inset;
}
