.main__header {
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.phone__icon {
  border-radius: 6px;
  background: #880769;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
}
.nav__btn {
  border-radius: 6px;
  background: #fbcc21;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
}
