.title-bg {
  background: linear-gradient(90deg, #54042c 0%, #880769 100%);
}
.title-bg2 {
  background: linear-gradient(90deg, #54042c 0%, #880769 100%);
}

.card__chooseUs {
  border-radius: 6px;
  border: 2px solid #880769;
  background: rgba(255, 255, 255, 0.2) !important;
}

.bg__chooseUs {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  height: 100%;
  background-image: url("/assets/images/why_choose_us_1.webp");
  background-size: cover;
  background-position: center;
}
